.krishna{
    text-align: center;
}
.l{
    margin-left: 20px;
    color: rgb(0, 0, 0);
}
body{
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkVo9CLxm6vZeoybTpCyNwzhlb9zJqjuNX034p585qxQ&usqp=CAU&ec=48665698) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
