body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGQjOLXGTEakcBXlUTdjwqHt4gixAAMf6DTq5FK89rYQ&usqp=CAU&ec=48665698);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    

    font-size: xx-large;
}